.NavBar {
    background-color: #301934;
    border: 1px solid gold;
    font-size: 25px;
    width: 100%;
}

.NavLinks {
    color: #DAA520;
    font-weight: 100;
    padding: 5px;
    text-decoration: none;
}


.NavLinks:hover {
    color: #DAA520;
}

.FasLinks {
    margin-right: 10px;
    font-size: 30px;
}

.NavBarDropDown {
    color: #DAA520;
    background-color: #DAA520;
}

.centerBrand {
    display: flex;
    align-items: center;
    width: 35%;
    justify-content: flex-end;
}

.Active i,
.NavLinks.Active {
    position: relative;
    display: inline-block;
    overflow: hidden;
    /* Hide overflow content */
    color: #f8f8f8;
    background: linear-gradient(to right, transparent 50%, #f8f8f8 50%);
    background-size: 200% 100%;
    transition: background-position 2.5s ease, color 2.5s ease;
}


