/* Styling for the entire post container */
.Post {
    background-color: #ffffff;
    border-bottom: 2px solid black !important;
    border-radius: 2px;
    margin-bottom: 26px;
    text-align: center;
    border: 0px;
}

/* Styling for the avatar details in the post */
.AvatarDetails {
    text-decoration: none;
    color: black;
    font-weight: 100 !important;
    font-size: 13px;
    padding: 0 !important;
    margin: 0 !important;
}

/* Styling for the heart icon when post is liked */
.Heart {
    color: #f85032;
}

/* Hover effect for the heart icon */
.Heart:hover {
    color: #2142b2;
}

/* Hover effect for the heart outline icon (unliked) */
.HeartOutline:hover {
    color: #f85032;
}

/* Styling for images within the post */
.PostImage {
    max-width: 100%;
    height: auto;
    margin: 25px 20px;
    display: block;
}

/* Styling for the post title link */
.PostTitleLink {
    display: block;
    text-align: center;
    color: black;
    text-decoration: none;
}

/* Styling for the post title link when in full post view */
.PostTitleLinkOnPost {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    text-decoration: none;
}

/* Styling for the link within the post title */
.PostLink {
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: 35px;
}

/* Styling for the link within the post title when in full post view */
.PostLinkOnPost {
    text-decoration: none;
    flex: 0 0 90%;
}

/* Styling for the avatar link within the post */
.AvatarLink {
    text-decoration: none;
}

/* Styling for the post bar containing like and comment icons */
.PostBar {
    margin-top: 10px;
}

/* Styling for like and comment icons */
.LikeIcon {
    cursor: pointer;
}

/* Hover effect for like and comment icons */
.LikeIcon:hover {
    color: #2142b2;
}

/* Additional properties for the post title */
.Title {
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 2px;
    font-weight: bold;
    display: block;
    font-size: 35px;
    color: #DAA520;
    font-weight: 400;
    font-family: 'Bebas Neue', serif;
    text-transform: uppercase;
}

/* Styling for the content container within the post */
.ContentContainer {
    padding: 16px;
}

/* Styling for the main content within the post */
.Content {
    min-height: 300px;
    background-color: rgba(193, 193, 197, 0.2);
    text-align: left;
    border-radius: 10px;
    padding: 26px;
}

/* Styling for nested elements within the content container */
.ContentContainer>* {
    /* Additional styling for nested elements */
}