.Post {
    background-color: #ffffff;
    border-bottom: 2px solid black !important;
    border-radius: 2px;
    margin-bottom: 26px;
    text-align: center;
    border: 0px;
}



.AvatarDetails {
    text-decoration: none;
    color: black;
    font-weight: 100 !important;
    font-size: 13px;
    padding: 0 !important;
    margin: 0 !important;
}

.Heart {
    color: #f85032;
}

.Heart:hover {
    color: #2142b2;
}

.HeartOutline:hover {
    color: #f85032;
}

.PostImage {
    max-width: 100%;
    height: auto;
    margin: 25px 20px;
    display: block;
}

.PostTitleLink {
    display: block;
    /* Use flexbox */
    text-align: center;
    color: black;
    text-decoration: none;
}


.PostTitleLinkOnPost {
    display: flex;
    /* Use flexbox */
    align-items: center;
    /* Center items vertically */
    justify-content: center;
    /* Space between items (for Card.Title and MoreDropdown) */
    text-align: center;
    color: black;
    text-decoration: none;
}

.PostLink {
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: 35px;
}

.PostLinkOnPost {
    text-decoration: none;
    flex: 0 0 90%;
}

.AvatarLink {
    text-decoration: none;
}

.PostBar {
    margin-top: 10px;
}

.LikeIcon {
    cursor: pointer;
}

.LikeIcon:hover {
    color: #2142b2;
}

/* Additional properties for the title */
.Title {
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 2px;
    font-weight: bold;
    display: block;
    font-size: 35px;
    color: #DAA520;
    font-weight: 400;
    font-family: 'Bebas Neue', serif;
    text-transform: uppercase;
}


.ContentContainer {
    padding: 16px;
}

.Content {
    min-height: 300px;
    background-color: rgba(193, 193, 197, 0.2);
    text-align: left;
    border-radius: 10px;
    padding: 26px;

}

/* Use a more specific selector for the nested content */
.ContentContainer>* {
    font-family: 'Times New Roman', Times, serif;

}
