.App {
    font-family: 'Bebas Neue', serif;
    min-height: 100vh;
}

.Main {
    padding-top: 81px;
}

* {
    box-sizing: border-box;
}

.FillerImage {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.quill{
    height: 200px;
    margin-bottom: 50px;

}

.Image {
    max-height: 40vh;
    max-width: 100%;
    object-fit: contain;
}

a:hover i {
    color: #f8f8f8;
    transition: color ease-in-out 0.3s;
}

i {
    color: #DAA520;
    font-size: 1.6rem;
    padding: 7px;
    vertical-align: middle;
}

i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: #f8f8f8;
}